.menu
    width: 100%
    display: flex
    text-align: center
    flex-direction: column
    padding: 10px
    // background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.5))

    .titulo
        .h1
            font-size: 35px

    .container
        display: flex
        align-items: center
        justify-content: center
        flex-direction: row-reverse

        .h3
            text-transform: capitalize
            font-size: 25px
                
        .info
            width: 23%
            text-align: left 

        .dishChefInfo
            left: 50%  

    .pie
        padding: 15px
        .h3
            font-size: 35px
