@import '../../variables'

.sectionContact
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5))
    
    .Container
        display: flex
        justify-content: center
        padding: 10px 0px

        .formContact
            display: grid
            font-size: 20px
            width: 50%
            margin: 10vh 0

            .col
                display: flex
                align-items: flex-start
                margin: 10px 0

                .items
                    display: grid
                    width: 100%
                
                .name
                    margin-right: 10px
                
                .input
                    font-size: 16px
                    // border-color: white
                    border: none
                    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5))
                    opacity: 50%
                    color: white

                .inputName, .inputCellphone
                    height: 30px

                
                