.aboutUs
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,0.6))
    width: 100%
    display: flex
    text-align: center
    justify-content: center

    .container

        display: flex
        align-items: center
        justify-content: center
        flex-direction: row-reverse

        .h1
            font-size: 40px

        .text, .h1
            margin-left: 36px

    .fondoAboutUs
        width: 25%

    .article
        text-align: left
