.aboutUs
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.5))
    
    .container 
        position: relative
        display: inline-block
        text-align: center
        margin: 0
        padding: 15px
        color: white

        .fondoAboutUs
            width: 55%
            filter: brightness(35%)
            
        .article
            position: absolute
            top: 25%
            left: 25%
            font-size: 14px
            text-align: left

            .h1
                font-size: 28px