.aboutUs
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,0.5))
    width: 100%
    display: flex
    text-align: center
    justify-content: center
    padding: 30px 0 95px 0

    .container
        background: linear-gradient(rgba(0, 0, 0, 0.96), rgba(0,0,0,0.5)), url('src/Components/Img/FondoAboutUs.jpg') no-repeat center center //fixed
        background-size: cover
        height: 65vh
        width: 65%
        text-align: left
        align-content: center

        .h1
            font-size: 40px
            
        .text, .h1
            margin-left: 36px

     
        
    //     position: relative
    //     display: inline-block
    //     text-align: center
    //     padding: 15px
    //     color: white
    //     margin-top: 30px

        // imagen 
        // .fondoAboutUs
        //     width: 55%
        //     filter: brightness(35%)
            // background: linear-gradient(rgba(0, 0, 0, 0.981), rgba(0,0,0,0.5))

        //el texto  
        .article
            // position: absolute
            // top: 25%
            // left: 25%
            // font-size: 14px
            // text-align: left
            margin: 0 25px

